* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* font-family: 'Slabo 27px', serif; */
    font-family: 'Work Sans', sans-serif;
    background: url(https://support.worldwildlife.org/images/content/pagebuilder/LILI_ZoomBackgroundv31366x768.jpg) no-repeat fixed;
}

.header {
    /* background-color: #1F2937; */
    padding: 0 120px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.nav {
    background-color: #1F2937;
    display: flex;
    margin-top: 0;
    margin-bottom: 50px;
    width: 100%;
    position: fixed;
    padding: 5px;
}

.logo {
    font-size: 20px;
    color: #f9faf8;
}

ul {
    display: flex;
    margin-left: auto;
    list-style: none;
    gap: 15px;
}

a {
    text-decoration: none;
    font-size: 14px;
    color: #E5E7EB;
}

.header-content {
    display: flex;
    margin-bottom: 70px;
}

.text {
    width: 400px;
}

.text>h1 {
    font-size: 40px;
    font-weight: bolder;
    color: #f9faf8;
}

.text>p {
    font-size: 14px;
    color: #E5E7EB;
    margin-bottom: 5px;
}

.img-holder {
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 90px;
    margin-left: auto;
    color: #f9faf8;
}

.text>button {
    background-color: #3882f6;
    padding: 6px 15px;
    border-radius: 12px;
    color: #f9faf8;
    cursor: pointer;
}

footer {
    background-color: #1F2937;
}

.content {
    flex: 1;
    /* padding: 0 120px; */
    display: flex;
    flex-direction: column;
}

.section-1 {
    padding: 25px 120px;
    background-color: #d8d1c84f;
}

.section-1>h1 {
    text-align: center;
    margin: 20px 0;
}

.cards {
    display: flex;
    gap: 50px;
    margin-bottom: 60px;
}

.subtext {
    text-align: center;
    font-size: 14px;
    width: 200px;
}

.cards {
    display: flex;
    justify-content: center;
}

.card {
    border: 2px solid #3882f6;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    display: flex;
}

.section-2 {
    background-color: #E5E7EB;
    padding: 60px 100px;
    font-size: 25px;
    font-style: italic;
    color: #1F2937;
}

.section-2>p {
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 18px;
    font-weight: bolder;
}

.section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #f9faf8; */
    padding: 70px 0;
}

.info {
    border: 1px solid #3882f6;
    background-color: #3882f6;
    color: #f9faf8;
    width: 700px;
    padding: 20px;
    display: flex;
    padding: 40px;
    border-radius: 20px;
}

.text {
    font-weight: bold;
}

.info>button {
    margin-left: auto;
    padding: 3px 25px;
    border-radius: 5px;
    background-color: #3882f6;
    color: #f9faf8;
    border: 1px solid white;
    cursor: pointer;
}

footer {
    text-align: center;
    color: #f9faf8;
    padding: 20px;
}